<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles.css" />
  <title>Message Board | 404</title>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="content not-found">
      <h2>OOPS, page not found :(</h2>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
