<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/header.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas
        possimus praesentium, ad, iste modi nemo alias nisi earum omnis odio, id
        sequi reprehenderit dignissimos? Aspernatur animi similique sunt odio
        illo necessitatibus nemo corporis doloremque consequatur ipsam quam a
        nesciunt asperiores nostrum numquam ratione earum voluptatem vel
        repudiandae debitis modi, rem nobis praesentium iusto.
      </p>
      <br />
      <p>
        Iusto maiores debitis temporibus voluptatem. Deleniti, atque! Lorem
        ipsum dolor sit, amet consectetur adipisicing elit. Facilis
        exercitationem dolor ea doloribus, libero id blanditiis recusandae
        maiores dolore enim magnam deleniti sit hic?
      </p>
      <br />
      <p>
        Rerum, quos mollitia. Eos atque voluptatum voluptas. Quo eaque quia
        libero laudantium maxime consequuntur pariatur ipsam ut obcaecati
        aperiam. Eum similique consequuntur aperiam, facilis magnam nihil!
      </p>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
